* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(73, 56, 234, 1) 100%
  );
}

#heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 42px;
  color: rgb(251, 201, 27);
  flex-wrap: wrap;
  padding: 20px;
}

#box {
  margin: 20px auto;
  width: 80vw;
  background-color: rgb(6, 6, 132);
  color: white;
  border-radius: 20px;
  overflow: scroll;
  overflow-y: auto; /*Hide vertical scrollbar */
  overflow-x: auto; /* Hide horizontal scrollbar */
}

#title_bar {
  display: flex;
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 20px 0px 20px 0px;
}
#title {
  flex: 1 1 auto;
  padding: 10px 15px;
}
#copy {
  padding: 10px 15px;
}
#copy:hover {
  background-color: rgb(238, 212, 119);
}
#copy:active {
  color: white;
  background-color: rgb(185, 146, 9);
}
#code-box {
  font-size: 16px;
  margin: 40px;
}
#content {
  color: white;
  display: block;
  border: 2px solid white;
  width: 30vw;
  margin: auto;
}

#dom {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn {
  margin: 10px auto;
  display: block;
}
.flex-center {
  text-align: center;
  color: white;
  display: block;
  width: 30vw;
  margin: 10px auto;
  border: 1px solid white;
}
.btnCenter {
  display: block;
  margin: 10px auto;
}
