body {
  background-color: rgb(44, 44, 44);
}
#heading , #titleHead{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  color: rgb(251, 201, 27);
  flex-wrap: wrap;
}
#box {
  width: 80vw;
  background-color: rgb(6, 6, 42);
  align-items: center;
  color: white;
  margin: auto;
  overflow: scroll;
}
#title_bar {
  display: flex;
  background-color: rgb(10, 10, 10);
  position: sticky;
  top: 0;
  left: 0;
}
#title {
  flex: 1 1 auto;
  padding: 10px 15px;
}
#copy {
  padding: 10px 15px;
}
#code-box {
  font-size: 16px;
}
#content {
  color: white;
  display: block;
  border: 2px solid white;
  width: 30vw;
  margin: auto;
}

#dom {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn{
  margin: 10px auto;
  display: block;
}
.flex-center{
  text-align: center;
  color: white;
  display: block;
  width: 30vw;
  margin: 10px auto;
  border: 1px solid white;
}
.btnCenter{
  display: block;
  margin: 10px auto;
}
