body {
  background-color: rgb(24, 23, 23);
  text-align: center;
  margin: 30px;
}

div {
  width: 200px;
  height: 200px;
  background-color: rgb(51, 160, 218);
  border: 2px solid green;
  margin: 5px auto;
}

button {
  background-color: green;
}

.bgyellow {
  background-color: yellow;
}

.bgblue {
  background-color: blue;
}

.bggreen {
  background-color: green;
}

.over {
  translate: 12rem 0;
}
.out {
  translate: 9rem 0;
}
.down {
  translate: 6rem 0;
}
.up {
    translate: 0rem 0;
}

/* .enter {
  border-radius: 50%;
}
.leave {
  border-radius: 0%;
} */
